.puzzle {
    /* border: 5px solid blue; */
    flex-grow: 1;
    width: 50%;
    height: 100vh;
    /* display: grid; */
    /* grid-template-columns: subgrid; */
    /* background-color: slategray; */
    
    .row {
        display: flex;
        /* border: 1px solid red; */
    }

    .tile {
        width: 50px;
        height: 50px;
        /* border: 1px solid pink; */
    }

    .ice {
        background-color: aqua;
    }

    .rock {
        background-color: saddlebrown;
    }

    .start {
        background-color: greenyellow;
    }

    .end {
        /* background-color: color(255, 0, 0, 125); */
        background-color: red;
    }

    .player {
        background-color: orange;
    }
}